/* 这里是你自己写的全局css样式 */
/* #ifdef WEB */
.uni-mask,
.uni-modal,
uni-toast,
uni-modal,
.uni-actionsheet {
	z-index: 999999 !important;
}
/* 禁用双击缩放，直接触发点击，解决Web端点击响应延迟的问题 */
a, button, view, text {
	touch-action: manipulation;
}
/* #endif */
// 添加全局主题色应用
.page-title {
  background-color: $uni-color-primary;
  color: $uni-text-color-inverse;
}
.tab-active {
  color: $uni-color-primary !important;
  border-bottom: 2px solid $uni-color-primary;
}
